
 body{
    width: 210mm;
    height: 297mm;
    background-color: #fcc100;
 }

.caixaCentral{
    position: relative;
    margin-top: 1%;
    left: 38%;
    background-color: white;
    width: 1200px;
    height: 1600px;
    border-radius: 5%;
}

.caixaPreta{
    position: relative;
    margin-top: -1215px;
    left: 40%;
    background-color: black;
    width: 1170px;
    height: 180px;
    border-radius: 20px;
    font-weight: bold;
}

.row{
    display: flex;
}

.caixaInterna{
    position: relative;
    left: -38px;
    flex: 1;
    padding: 10px;
    background-color: white;
    margin: 30px;
    height: 54px;
    border-radius: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
}

.textDesconto{
    color: white;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: -26px;
    font-size: 17px;
}

.textTotal{
    color: white;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: -26px;
    font-size: 17px;
}

.textEconomia{
    color: white;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: -15px;
    font-size: 17px;
}

#textBlack{
    color: white;
    position: relative;
    left: 300px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.caixaAmarela{  
    position: relative;
    background-color: #fcc100;
    width: 1170px;
    height: 205px;
    left: 40%;
    border-radius: 20px;
    font-size: 20px;
    margin-top: -1px;
}

.row2{
    display: flex;
}

.caixaInternas{
   background-color: white;
   flex: 1;
   padding: 10px;
   height: 54px;
   margin: 30px;
   position: relative;
   left: -38px;
   border-radius: 20px;
   font-weight: 500;
   text-align: center;
}

.textYellow{
    position: relative;
    color: black;
    left: 180px;
    font-size: 20px;
    font-weight: 500;
}

.energiaCompensada{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: -15px;
    font-size: 17px;
}

.tarifaImpostos{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: -15px;
    font-size: 17px;
}

.valorConcessionaria{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: -15px;
    font-size: 17px;
}

.caixaAmbiente{
    background-color: #fcc100;
    width: 500px;
    height: 389px;
    position: relative;
    left: 317px;
    margin-top: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#boxInterna1{
    background-color: white;
    width: 484px;
    height: 310px;
    position: relative;
    left: 325px;
    margin-top: -333px; 
    border-radius: 20px;  
}

.caixaFaturamento{
    background-color: #000;
    width: 500px;
    height: 389px;
    position: relative;
    left: 984px;
    margin-top: -397px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#boxInterna2{
    background-color: white;
    width: 484px;
    height: 310px;
    position: relative;
    left: 993px;
    margin-top: -333px; 
    border-radius: 20px;  
}

.boxAmarelaInterna{
    background-color: #fcc100;
    width: 405px;
    height: 74px;
    position: relative;
    margin-top: -98px;
    left: 130.55%;
    border-radius: 20px;
}

#dadosPagamento{
    background-color: #000;
    width: 1200px;
    height: 280px;
    position: relative;
    left: 302px;
    margin-top: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    text-align: center;
    font-size: 30px;
    
}

.codigoBarras{
    background-color: #ffffff;
    width: 1150px;
    height: 190px;
    margin-top: -251px;
    left: 320px;
    position: relative;
    border-radius: 20px;
}

#logoEnergy{
    background-image: url(/imagem/printboa.png);
    width: 200px;
    height: 120px;
    position: relative;
    margin-top: -1474px;
    left: 370px;
}

.caixaTexto1{
    background-color: #ffffff;
    position: relative;
    width: 465px;
    height: 200px;
    left: 340px;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

#placaSolar{
    position: relative;
    background-image: url(/imagem/placa3.png);
    width: 50px;
    height: 90px;
    left: 920px;
    margin-top: -340px;
}

.caixaTexto2{
    background-color: #ffffff;
    position: relative;
    width: 350px;
    height: 200px;
    left: 1020px;
    margin-top: -109px;
}

#tamanhoTexto2{
    font-size: 23px;
    position: relative;
    left: -50px;
    margin-top: 20px;
}

#textosIndependentesCaixa2{
    position: relative;
    left: -60px;
    font-size: 16px;
    text-align: center;
    margin: 5px;
}

.caixa1{
    width: 160px;
    height: 100px;
    background-color: #ffffff;
    position: relative;
    margin-top: -100px;
    left: 988px;
    
    
}

#caixa2{
    width: 140px;
    height: 100px;
    background-color: #ffffff;
    position: relative;
    margin-top: -116px ;
    left: 1240px;
}

.caixa3{
    width: 140px;
    height: 100px;
    background-color: #ffffff;
    position: relative;
    left: 988px;
    margin-top: 0px;
}

#caixa4{
    width: 140px;
    height: 100px;
    background-color: #ffffff;
    position: relative;
    margin-top: -116px ;
    left: 1240px;
}
#imagemCodigo{
    background-image: url(/imagem/codigobarras.png);
    width: 900px;
    height: 114px;
    position: relative;
    margin-top: 965px;
    left: 360px;
}

.qrCode{
    background-image: url(/imagem/qrcode.png);
    width: 100px;
    height: 116px;
    position: relative;
    margin-top: -130px;
    left: 1330px;
}

#siteLink{
    position: relative;
    left: 786px;
    margin-top: 90px;
    font-size: 25px;
}

#textoCaixa1{
    position: relative;
    left: -60px;
    white-space: nowrap;
    
}

#textoCaixa11{
    position: relative;
    left: -61px;
    white-space: nowrap;
    font-size: 26px;
    font-weight: bold;
    
}

#textoCaixa2{
    position: relative;
    left: -90px;
    white-space: nowrap;
    
}

#textoCaixa22{
    position: relative;
    left: -55px;
    white-space: nowrap;
    font-size: 24px;
    font-weight: bold;
    
}

#textoCaixa3{
    position: relative;
    left: -40px;
    white-space: nowrap;
    
}

#textoCaixa33{
    position: relative;
    left: -47px;
    white-space: nowrap;
    font-size: 24px;
    font-weight: bold;
    
}

#textoCaixa4{
    position: relative;
    left: -75px;
    white-space: nowrap;  
}

#textoCaixa44{
    position: relative;
    left: -57px;
    white-space: nowrap;
    font-size: 24px;
    font-weight: bold;
}

#tomadaImg{
    background-image: url(/imagem/tomada.png);
    width: 25px;
    height: 55px;
    position: relative;
    margin-top: -765px;
    left: 740px;
}

#textoAmbiente{
    position: relative;
    margin-top: -50px;
    left: 400px;
    font-size: 20px;
    font-weight: 800;
}

.nuvemCO2{
    background-image: url(/imagem/nuvemc02.png);
    width: 15px;
    height: 50px;
    position: relative;
    left: 400px;
    margin-top: 60px;
}

.carbonoEvitado{
    color: #71C27A;
    position: relative;
    left: 100px;
}

#barraVerde1{
    width: 440px;
    height: 4px;
    background-color: #71C27A;
    position: relative;
    left: 346px;
    margin-top: -10px;
}

#mudinha{
    background-image: url(/imagem/mudinha.png);
    width: 15px;
    height: 42px;
    position: relative;
    left: 405px;
    margin-top: 15px;
}

#barraVerdinha{
    width: 440px;
    height: 4px;
    background-color: #71C27A;
    position: relative;
    left: 346px;
    margin-bottom: -90px;
}

#cultivadas{
    color: #71C27A;
    position: relative;
    margin-top: 40px;
    left: 90px;
}

.encaixeLorem{
    position: relative;
    margin-top: 44px;
    left: -55px;
}

/* texto de faturamento */
.TextStyle{
    color: #ffffff;
    font-size: 20px;
    font-weight: 730;
    position: relative;
    left: 1090px;
    margin-top: -71px;

}

#cifrao{
    background-image: url(/imagem/cifrao.png);
    width: 13px;
    height: 50px;
    position: relative;
    left: 1425px;
    margin-top: -240px;
}

#descontoAcumulado{
    position: relative;
    font-weight: 600;
    font-size: 21px;
    margin-top: 260px;
    left: 453px;
    text-align: end;
}

.valorDesconto{
    position: relative;
    left: 1230px;
    font-size: 24px;
    font-weight: 800;
    margin-top: -60px;
    font-family: Arial, Helvetica, sans-serif;
}

.primeiraLinha{
    position: relative;
    font-weight: 800;
    font-size: 12px;
    left: 999px;
    margin-top: -264px;
    

}