
 body{
    width: 210mm;
    height: 297mm;
    background-color: #fcc100;
    
 }

.caixaCentral{
    margin: 0px;
    position: relative;
    margin-top: 1%;
    background-color: white;
    width: 142.3%;
    height: 148%;
    border-radius: 5%;
}

.caixaPreta{
    position: relative;
    margin-top: -155%;
    left: 1%;
    background-color: black;
    width: 140%;
    height: 180px;
    border-radius: 20px;
    font-weight: bold;
}

.row{
    display: flex;
}

.caixaInterna{
    position: relative;
    left: -5%; 
    flex: 1;
    padding: 10px;
    background-color: white;
    margin: 30px;
    height: 54px;
    border-radius: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
}

.textDesconto{
    color: white;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: -26px;
    font-size: 17px;
}

.textTotal{
    color: white;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: -26px;
    font-size: 17px;
}

.textEconomia{
    color: white;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: -15px; 
    font-size: 17px;
}

#textBlack{
    color: white;
    position: relative;
    left: 25%;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.caixaAmarela{  
    position: relative;
    background-color: #fcc100;
    width: 140%;
    height: 180px;
    left: 1%;
    border-radius: 20px;
    font-size: 20px;
    margin-top: -1px;
}


.textYellow{
    position: relative;
    color: black;
    left: 180px; 
    font-size: 20px;
    font-weight: 500;
}

.caixaInternas{
    position: relative;
    left: -5%; 
    flex: 1;
    padding: 10px;
    background-color: white;
    margin: 30px;
    height: 54px;
    border-radius: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
} 

.energiaCompensada{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
     left: -15px; 
    font-size: 17px;
}

#tarifaImpostos{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: -65%; 
    font-size: 17px;
}

#tarifaImpostos1{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: -20%; 
    font-size: 17px;
    margin-top: -7.1%;
     
}

#tarifaImpostos2{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 38%; 
    font-size: 17px;
    margin-top: -7.5%;
     
}

#valorConcessionaria{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: -45%; 
    font-size: 17px;
}

#valorConcessionaria1{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: -8%; 
    font-size: 17px;
    margin-top: -7%;
}

#valorConcessionaria2{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 41%; 
    font-size: 17px;
    margin-top: -7%;
}

.caixaAmbiente{
    background-color: #fcc100;
    width: 500px;
    height: 389px;
    position: relative;
    left: 1%; 
    margin-top: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#boxInterna1{
    background-color: white;
    width: 484px;
    height: 310px;
    position: relative;
    left: 2%; 
    margin-top: -333px; 
    border-radius: 20px;  
}

.caixaFaturamento{
    background-color: #000;
    width: 500px;
    height: 389px;
    position: relative;
    left: 77.4%;
    margin-top: -397px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#boxInterna2{
    background-color: white;
    width: 484px;
    height: 310px;
    position: relative;
    left: 78.5%;
    margin-top: -333px; 
    border-radius: 20px;  
}

.boxAmarelaInterna{
    background-color: #fcc100;
    width: 405px;
    height: 74px;
    position: relative;
    margin-top: -98px;
    left: 83.6%; 
    border-radius: 20px;
    font-weight: 700;
    font-size: 20px;
}

#dadosPagamento{
    background-color: #000;
    width: 142.3%;
    height: 280px;
    position: relative;
    left: 0%; 
    margin-top: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    text-align: center;
    font-size: 30px;
    
}

.codigoBarras{
    background-color: #ffffff;
    width: 138%;
    height: 190px;
    margin-top: -251px;
    left: 2%; 
    position: relative;
    border-radius: 20px;
}

#logoEnergy{
    background-image: url(/imagem/printboa.png);
    width: 200px;
    height: 120px;
    position: relative;
    margin-top: -185%;
    left: 10%; 
}

.caixaTexto1{
    background-color: #ffffff;
    position: relative;
    width: 465px;
    height: 200px;
    left: 3%; 
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

#placaSolar{
    position: relative;
    background-image: url(/imagem/placa3.png);
    width: 50px;
    height: 90px;
    left: 75%; 
    margin-top: -340px;
}

.caixaTexto2{
    background-color: #ffffff;
    position: relative;
    width: 350px;
    height: 200px;
    left: 92%; 
    margin-top: -109px;
}

#tamanhoTexto2{
    font-size: 23px;
    position: relative;
    left: -50px; 
    margin-top: 20px;
}

#textosIndependentesCaixa2{
    position: relative;
    left: -60px; 
    font-size: 16px;
    text-align: center;
    margin: 5%;
}

.caixa1{
    width: 160px;
    height: 100px;
    background-color: #ffffff;
    position: relative;
    margin-top: -12%;
    left: 80%; 
}

#caixa2{
    width: 110px;
    height: 100px;
    background-color: #ffffff;
    position: relative;
    margin-top: -14.25%;
    left: 107%; 
    
}

.caixa3{
    width: 140px;
    height: 100px;
    background-color: #ffffff;
    position: relative;
    left: 79.4%; 
    margin-top: 0px;
}

#caixa4{
    width: 140px;
    height: 100px;
    background-color: #ffffff;
    position: relative;
    margin-top: -116px ;
    left: 117.4%; 
}

#imagemCodigo{
    background-image: url(/imagem/codigobarras.png);
    width: 100%;
    height: 10%;
    position: relative;
    margin-top: 55%;
    right: -8%;
}

.qrCode{
    background-image: url(/imagem/qrcode.png);
     position: relative;
     width: 13%;
     height: 10%;
     margin-top: -16%;
     left: 117%;
}

#siteLink{
    position: relative;
    left: 426px; 
    margin-top: 60%;
    font-size: 25px;
}

#textoCaixa1{
    position: relative;
    left: -60px; 
    white-space: nowrap;
    
}

#textoCaixa11{
    position: relative;
    left: -61px; 
    white-space: nowrap;
    font-size: 26px;
    font-weight: bold;
    
}

#textoCaixa2{
    position: relative;
    left: 0%; 
    white-space: nowrap;
    
}

#textoCaixa22{
    position: relative;
    left: 35px; 
    white-space: nowrap;
    font-size: 24px;
    font-weight: bold;
    
}

#textoCaixa3{
    position: relative;
    left: -40px; 
    white-space: nowrap;
    
}

#textoCaixa33{
    position: relative;
    left: -47px; 
    white-space: nowrap;
    font-size: 24px;
    font-weight: bold;
    
}

#textoCaixa4{
    position: relative;
    left: -75px; 
    white-space: nowrap;  
}

#textoCaixa44{
    position: relative;
    left: -57px; 
    white-space: nowrap;
    font-size: 24px;
    font-weight: bold;
}

#tomadaImg{
    background-image: url(/imagem/tomada.png);
    width: 22px;
    height: 54px;
    position: relative;
    margin-top: -10%;
    left: 420px; 
}

#textoAmbiente{
    position: relative;
    margin-top: -98.5%;
    left: 90px; 
    font-size: 22px;
    font-weight: 600;
}

.nuvemCO2{
    background-image: url(/imagem/nuvemc02.png);
    width: 15px;
    height: 50px;
    position: relative;
    left: 100px; 
    margin-top: 6%;
}

.carbonoEvitado{
    color: #71C27A;
    position: relative;
     left: 100px; 
}

#cultivadas{
    color: #71C27A;
    position: relative;
    left: 90px;
    margin-top: 3%;
}

.TextStyle{
    color: #ffffff;
    position: relative;
    left: 650px;
    margin-top: -155px;
    font-size: 24px;
    font-weight: 500;
}

#cifraoImg{
    background-image: url(/imagem/cifrao.png);
    width: 19px;
    height: 50px;
    position: relative;
    left: 130%;
    margin-top: -20.4%;
} 

#barraVerde{
    background-color: #71C27A;
    width: 430px;
    height: 4px;
    position: relative;
    left: 6%;
    margin-top: -2%;
}

.mudinha{
    background-image: url(/imagem/mudinha.png);
    position: relative;
    width: 12px;
    height: 43px;
    left:  13%;
}

#barraVerde2{
    background-color: #71C27A;
    width: 430px;
    height: 4px;
    position: relative;
    left: 6%;
    margin-top: -1%;
}

.encaixeLorem{
    position: relative;
    margin-top: 5%;
    left: -5%;
}


#primeiraColuna{
    position: relative;
    margin-top: 69%;
    right: -76%;
    font-size: 10px;
    font-weight: 700;
}

#segundaColuna{
    position: relative;
    margin-top: -25.5%;
    left: 86%;
    font-size: 10px;
    font-weight: 700;
}

#terceiraColuna{
    position: relative;
    font-size: 62%;
    font-weight: 700;
    right: -100%;
    margin-top: -3%;
}

.quartaColuna{
    position: relative;
    font-size: 62%;
    font-weight: 700;
    right: -34%;
    margin-top: -15.5%;
    text-align: end;
}

#semBold{
    font-weight: 100;
}

#altura237{
    position: relative;
    margin-top: 0.7%;
}

.fonteVerde{
    color: #71C27A;
}

.fonteVermelha{
    color: red;
}

#descontoAc{
    position: relative;
    font-weight: 700;
    left: -65%;
    margin-top: -3%;
    text-align: end;
}

#descontoAc2{
    position: relative;
    font-weight: 700;
    left: 35%;
    margin-top: -9%;
    font-size: 26px;
}

#textFaturamento{
    color: #ffffff;
    font-size: 22px;
    position: relative;
    right: -90%;
    margin-top: -27%;
}

.cifraoImg{
    background-image: url(/imagem/cifrao.png);
    width: 17px;
    height: 52px;
    position: relative;
    right: -130%;
    margin-top: -9%;
}