
 body{
    width: 210mm;
    height: 297mm;
    background-color: #fcc100;
    margin: -5px;
 }

.caixaCentral{
    margin: 0;
    position: relative;
    margin-top: 1%;
    /*left: 38%;*/
    background-color: white;
    width: 1200px;
    height: 1600px;
    border-radius: 5%;
}

.caixaPreta{
    position: relative;
    margin-top: -1215px;
    /*left: 40%;*/
    background-color: black;
    width: 1170px;
    height: 180px;
    border-radius: 20px;
    font-weight: bold;
}

.row{
    display: flex;
}

.caixaInterna{
    position: relative;
    left: -78px; 
    flex: 1;
    padding: 10px;
    background-color: white;
    margin: 30px;
    height: 54px;
    border-radius: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
}

.textDesconto{
    color: white;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    /*left: -26px;*/
    font-size: 17px;
}

.textTotal{
    color: white;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    /*left: -26px;*/
    font-size: 17px;
}

.textEconomia{
    color: white;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
   /* left: -15px; */
    font-size: 17px;
}

#textBlack{
    color: white;
    position: relative;
    left: 300px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.caixaAmarela{  
    position: relative;
    background-color: #fcc100;
    width: 1170px;
    height: 205px;
    /*left: 40%;*/
    border-radius: 20px;
    font-size: 20px;
    margin-top: -1px;
}

.row2{
    display: flex;
}

.caixaInternas{
   background-color: white;
   flex: 1;
   padding: 10px;
   height: 54px;
   margin: 30px;
   position: relative;
   left: -78px;
   border-radius: 20px;
   font-weight: 500;
   text-align: center;
}

.textYellow{
    position: relative;
    color: black;
    left: 180px; 
    font-size: 20px;
    font-weight: 500;
}

.energiaCompensada{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    /* left: -15px; */
    font-size: 17px;
}

.tarifaImpostos{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    /* left: -15px; */
    font-size: 17px;
}

.valorConcessionaria{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    /* left: -15px; */
    font-size: 17px;
}

.caixaAmbiente{
    background-color: #fcc100;
    width: 500px;
    height: 389px;
    position: relative;
   /* left: 317px; */
    margin-top: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#boxInterna1{
    background-color: white;
    width: 484px;
    height: 310px;
    position: relative;
   /* left: 325px; */
    margin-top: -333px; 
    border-radius: 20px;  
}

.caixaFaturamento{
    background-color: #000;
    width: 500px;
    height: 389px;
    position: relative;
    left: 544px;
    margin-top: -397px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#boxInterna2{
    background-color: white;
    width: 484px;
    height: 310px;
    position: relative;
    left: 553px;
    margin-top: -333px; 
    border-radius: 20px;  
}

.boxAmarelaInterna{
    background-color: #fcc100;
    width: 405px;
    height: 74px;
    position: relative;
    margin-top: -98px;
    left: 590px; 
    border-radius: 20px;
}

#dadosPagamento{
    background-color: #000;
    width: 1200px;
    height: 280px;
    position: relative;
   /* left: 302px; */
    margin-top: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    text-align: center;
    font-size: 30px;
    
}

.codigoBarras{
    background-color: #ffffff;
    width: 1150px;
    height: 190px;
    margin-top: -251px;
   /* left: 320px; */
    position: relative;
    border-radius: 20px;
}

#logoEnergy{
    background-image: url(/imagem/printboa.png);
    width: 200px;
    height: 120px;
    position: relative;
    margin-top: -1474px;
    left: 85px; 
}

.caixaTexto1{
    background-color: #ffffff;
    position: relative;
    width: 465px;
    height: 200px;
   /* left: 340px; */
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

#placaSolar{
    position: relative;
    background-image: url(/imagem/placa3.png);
    width: 50px;
    height: 90px;
    left: 520px; 
    margin-top: -340px;
}

.caixaTexto2{
    background-color: #ffffff;
    position: relative;
    width: 350px;
    height: 200px;
    left: 600px; 
    margin-top: -109px;
}

#tamanhoTexto2{
    font-size: 23px;
    position: relative;
    /* left: -50px; */
    margin-top: 20px;
}

#textosIndependentesCaixa2{
    position: relative;
   /* left: -60px; */
    font-size: 16px;
    text-align: center;
    margin: 5px;
}

.caixa1{
    width: 160px;
    height: 100px;
    background-color: #ffffff;
    position: relative;
    margin-top: -100px;
    left: 508px; 
    
    
}

#caixa2{
    width: 120px;
    height: 100px;
    background-color: #ffffff;
    position: relative;
    margin-top: -115px ;
     left: 790px; 
}

.caixa3{
    width: 140px;
    height: 100px;
    background-color: #ffffff;
    position: relative;
    left: 508px; 
    margin-top: 0px;
}

#caixa4{
    width: 140px;
    height: 100px;
    background-color: #ffffff;
    position: relative;
    margin-top: -116px ;
     left: 790px; 
}
#imagemCodigo{
    background-image: url(/imagem/codigobarras.png);
    width: 900px;
    height: 114px;
    position: relative;
    margin-top: 965px;
   /* left: 360px; */
}

.qrCode{
    background-image: url(/imagem/qrcode.png);
    width: 100px;
    height: 120px;
    position: relative;
    margin-top: -130px;
   /* left: 1330px; */
}

#siteLink{
    position: relative;
   /* left: 786px; */
    margin-top: 90px;
    font-size: 25px;
}

#textoCaixa1{
    position: relative;
   /* left: -60px; */
    white-space: nowrap;
    
}

#textoCaixa11{
    position: relative;
    /* left: -61px; */
    white-space: nowrap;
    font-size: 26px;
    font-weight: bold;
    
}

#textoCaixa2{
    position: relative;
   /* left: -90px; */
    white-space: nowrap;
    
}

#textoCaixa22{
    position: relative;
    left: 35px; 
    white-space: nowrap;
    font-size: 24px;
    font-weight: bold;
    
}

#textoCaixa3{
    position: relative;
   /* left: -40px; */
    white-space: nowrap;
    
}

#textoCaixa33{
    position: relative;
   /* left: -47px; */
    white-space: nowrap;
    font-size: 24px;
    font-weight: bold;
    
}

#textoCaixa4{
    position: relative;
   /* left: -75px; */
    white-space: nowrap;  
}

#textoCaixa44{
    position: relative;
   /* left: -57px; */
    white-space: nowrap;
    font-size: 24px;
    font-weight: bold;
}

#tomadaImg{
    background-image: url(/imagem/tomada.png);
    width: 25px;
    height: 55px;
    position: relative;
    margin-top: -765px;
    left: 420px; 
}

#textoAmbiente{
    position: relative;
    margin-top: -50px;
    left: 90px; 
    font-size: 20px;
    font-weight: 800;
}

.nuvemCO2{
    background-image: url(/imagem/nuvemc02.png);
    width: 15px;
    height: 50px;
    position: relative;
    left: 100px; 
    margin-top: 55px;
}

.carbonoEvitado{
    color: #71C27A;
    position: relative;
     left: 100px; 
}

.resumoFaturamento{
    color: #ffffff;
    position: relative;
    left: 650px;
    margin-top: -155px;
    font-size: 24px;
    font-weight: 500;
}

#cifraoImg{
    background-image: url(/imagem/cifrao.png);
    width: 19px;
    height: 50px;
    position: relative;
    left: 970px;
    margin-top: -64px;
} 

.barraVerde{
    background-color: #71C27A;
    width: 400px;
    height: 4px;
    position: relative;
    left: 40px;
    margin-top: 110px;
}

#mudinha{
    background-image: url(/imagem/) ;
}